extends ../layout

block contenido
    a.btn-volver(href='/clientes') Volver
    
    h1 Listado de Clientes

    div.btn-container-right
        a.btn-nuevo(href='/clientes/nuevo') + Registrar Cliente
    
    if clientes.length > 0
        table
            thead
                tr
                    th Documento
                    th Nombre / Razón Social
                    th Email
                    th Teléfono
                    th Acciones
            tbody
                each prod in clientes
                    tr
                        td #{prod.tipoDoc}: #{prod.nroDoc}
                        td= prod.tipoDoc === 'DNI' ? prod.nombre : prod.razonSocial
                        td= prod.email
                        td= prod.telefono
                        td
                            div.acciones-container 
                                a(href=`/clientes/editar/${prod._id}`) Editar

                                form.inline-form(action=`/clientes/eliminar/${prod._id}` method="POST" onsubmit="return confirm('¿Está seguro que desea eliminar este cliente?')")
                                    button.btn-accion.btn-borrar(type="submit") Eliminar
    else
        p No hay clientes registrados en el sistema.